:root {
  --fondo: #141519;
  --fondo_tarjeta: #1b222c;
  --naranja: #fc7615;
  --blanco_letra: #feffff;
  --letras_parrafo: #6d747e;
  --gris_fondo_circulos: #232c35;
  --gris_hover: #81899c;
}
body {
  background-color: var(--fondo);
  color: var(--letras_parrafo);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  height: 100vh;
}
.tarjeta {
  background-color: var(--fondo_tarjeta);
  width: 330px;
  border-radius: 15px;
  height: min-content;
  display: none;
}
.tarjeta-logo {
  color: var(--naranja);
  background-color: var(--gris_fondo_circulos);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 25px;

  margin-top: 20.3px;
}
.tarjeta h2 {
  color: var(--blanco_letra);
  margin: 0;
  margin-left: 25px;

  margin-top: 20.3px;
}
.tarjeta p {
  margin: 0;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20.3px;
  font-size: 14px;
}
ul {
  display: flex;
  padding: 0;
  margin: 0;

  margin-top: 20.3px;
}
ul li {
  list-style: none;
}
.tarjeta-rating {
  display: flex;
  justify-content: center;
}
.tarjeta-rating button {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: var(--gris_hover);
  background-color: var(--gris_fondo_circulos);
  margin-left: 15px;
}
#uno {
  margin-left: 0;
}
.tarjeta-rating button:hover {
  background-color: var(--gris_hover);
  color: var(--blanco_letra);
}
.tarjeta-button {
  display: flex;
  justify-content: center;
}
.tarjeta-button button {
  text-transform: uppercase;
  background-color: var(--naranja);
  border: none;
  border-radius: 25px;
  height: 45px;
  width: 282px;
  color: var(--blanco_letra);
  font-weight: 700;

  margin-top: 20.3px;
  margin-bottom: 20.3px;
}
.tarjeta-button button:hover {
  background-color: var(--blanco_letra);
  color: var(--naranja);
}
.tarjeta-thankyou {
  height: 358px;
  width: 327px;
  background-color: var(--fondo_tarjeta);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: none; */
}
.tarjeta-thankyou img {
  /* border: solid 0.3px red; */
  margin: 0;
  width: 150px;
  height: 100px;
  margin-top: 35px;
}
.tarjeta-thankyou .mostador-rating {
  width: 168px;
  height: 33px;
  background-color: var(--gris_fondo_circulos);
  border-radius: 25px;
  color: var(--naranja);
  /* border: solid 0.3px red; */
  margin: 0;
  margin-top: 25px;
}
.tarjeta-thankyou h2 {
  color: var(--blanco_letra);
  /* border: solid 0.3px red; */
  margin: 0;
  margin-top: 30px;
}
.tarjeta-thankyou p {
  /* border: solid 0.3px red; */
  margin: 0;
  text-align: center;
  margin-left: 26px;
  margin-right: 26px;
  font-size: 14px;
  margin-top: 25px;
  /* margin-bottom: 45px; */
  line-height: 17px;
}
@media screen and (min-width: 768px) {
  .tarjeta {
    width: 412px;
    height: 415px;
  }
  .tarjeta-logo,
  h2,
  p {
    margin-left: 35px;
    margin-top: 30px;
  }
  p {
    margin-right: 50px;
  }
  .tarjeta-rating {
    margin-top: 10px;
  }
  .tarjeta-rating button {
    margin-left: 28px;
  }
  #uno {
    margin-left: 0;
  }
  .tarjeta-button button {
    margin-top: 30px;
    width: 340px;
  }
}
